.popular-stays1 {
  margin: 0;
  width: 69.081rem;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.popular-stays-title {
  height: 2.188rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 44.875rem;
}
.view-all-stays {
  width: 8.794rem;
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.arrow-right-icon4 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.view-all-stays-button {
  border-radius: var(--br-12xl);
  background-color: var(--Background-Paper);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  cursor: pointer;
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-300);
}
.hotel-cards,
.popular-stays-header {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.popular-stays-header {
  display: flex;
  justify-content: center;
  row-gap: 20px;
}
.hotel-cards {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  font-size: var(--font-size-base);
}
.mobile-view-all-stays,
.popular-stays {
  align-items: flex-start;
  justify-content: flex-start;
}
.mobile-view-all-stays {
  border-radius: var(--br-12xl);
  background-color: var(--Background-Paper);
  display: none;
  flex-direction: row;
  gap: var(--gap-3xs);
  white-space: nowrap;
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-cornflowerblue-300);
}
.popular-stays {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-300);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 1350px) {
  .popular-stays-header {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .popular-stays-title {
    min-width: 100%;
  }
  .hotel-cards {
    grid-row-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(240px, 416px));
  }
}
@media screen and (max-width: 800px) {
  .popular-stays1 {
    font-size: var(--font-size-5xl);
  }
  .hotel-cards {
    grid-template-columns: minmax(240px, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .popular-stays1 {
    font-size: var(--font-size-lg);
  }
}
